* {
    margin: 0;
    padding: 0;
}

img {
    width: 90px;
    margin: 20px;
}

.left img {
    float: left;
}

div {
    padding: 20px;
    border: 1px solid #999;
}

.father {
    margin: 20px;
    background-color: #eee;
    overflow: auto;
}

.left {
    width: 200px;
    height: auto;
    float: left;
    background-color: #fff;
}

.right {
    width: 120px;
    height: auto;
    float: right;
    background-color: #fff;
}

.center {
    margin: 0 180px 0 260px;
    height: auto;
    background-color: #fff;
    line-height: 30px;
}